 img[src^="river.jpg"]{
  clip-path: polygon(0 0, 0% 100%, 96% 50%);
  width: 700px;
  height: 650px;
}
img[src^="logo.png"]{
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
  width: 250px;
}
div {

  position: absolute;
    left: 800px;
    top: 150px;
    padding: 10px, 20px;


}
input[type=text]{
  width: 80%;
  padding: 12px 20px;
  margin: 4px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
button{
  background-color: 	#D3D3D3;
  color: black;;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 80%;
}
button:hover {
  background-color: #778899;
  color: white;
}
h2{|
font-size: 180%;
text-decoration: underline;
text-decoration-color: green;
}
p1{
  text-align: right;
  color: green;
}
p2{
  text-align: right;
  color: black;
}
